 <!-- jQuery Version 1.11.0 -->
 <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.url }}"></script>

 <!-- Bootstrap Core JavaScript -->
 <script src="{{ "/js/bootstrap.min.js" | prepend: site.url }}"></script>

 <!-- Plugin JavaScript -->
 <script src="{{ "/js/jquery.easing.min.js" | prepend: site.url }}"></script>
 <script src="{{ "/js/classie.js" | prepend: site.url }}"></script>
 <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.url }}"></script>

 <!-- Contact Form JavaScript -->
 <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.url }}"></script>
 <script src="{{ "/js/contact_me.js" | prepend: site.url }}"></script>

 <!-- Custom Theme JavaScript -->
 <script src="{{ "/js/freelancer.js" | prepend: site.url }}"></script>


 <script type="text/javascript">
    "use strict";
    var app = angular.module("app", [])
    app.controller("jobclusterCtrl", ["$scope", "$http", function($scope, $http) {
        $scope.d3count = []
        $http.get('js/indeed.json').
        success(function(data, status, headers, config) {
            //console.log(data);
            $scope.jobs = data;
            var consolidate_array = [],
                consolidate_obj = {},
                count = [],
                checker_array = [],
                d3_obj = {
                    "name": "search",
                    "children": []
                };
            angular.forEach(data, function(value, key) {
                //split the title

                var words = value.jobtitle.split(/[\s, \W]+/),
                    orig_title = value.jobtitle;
                angular.forEach(words, function(value1, key, orig_title) {
                    //check to see if it is in checker array
                    //checkword(value);
                    consolidate_array.push(value1);

                })


                //console.log(consolidate_array);
            });
            //count the words
            sortwords(consolidate_array)

            function sortwords(arr) {
                var word = [],
                    prev;
                arr.sort();
                for (var i = 0; i < arr.length; i++) {
                    if (arr[i] !== prev) {
                        word.push(arr[i]);
                        count.push(1);
                    } else {
                        count[count.length - 1] ++;
                    }
                    prev = arr[i];
                }

                angular.forEach(word, function(value, key) {
                    var child_obj = {};
                    if (count[key] > 10 && word[key] != "" && word[key] != "End") {
                        child_obj.name = word[key];
                        var countarray = [],
                            tempobj = {
                                "name": "temp title",
                                "size": 200
                            };
                        for (var i = 0; i < count[key]; i++) {
                            countarray.push(tempobj)
                        };
                        child_obj.children = countarray;

                        d3_obj.children.push(child_obj);
                    }
                });
                return [word, count];
                //console.log(word, count, d3_obj);

            }
            $scope.d3data = d3_obj.children;
            $scope.d3count = count;
            //something funky about this
            function checkword(wordtocheck) {
                angular.forEach(checker_array, function(value, key) {
                    //console.log(wordtocheck, value)
                    if (value != wordtocheck) {
                        consolidate_array.push(wordtocheck)
                    };
                });
            };

            //build object

            var w = 1280,
                h = 800,
                node,
                link,
                link2,
                root,
                root2;

            var force = d3.layout.force()
                .on("tick", tick)
                .charge(function(d) {
                    return d._children ? -d.size / 100 : -30;
                })
                .linkDistance(function(d) {
                    return d.target._children ? 80 : 30;
                })
                .size([w, h - 160]);

            var vis = d3.select("#d3chart").append("svg:svg")
                .attr("width", w)
                .attr("height", h);

            d3.json("js/flare.json", function(json) {
                root = json;

                root2 = d3_obj;

                root.fixed = true;
                root2.fixed = false;
                root.x = w / 2;
                root2.x = w / 2;

                root.y = h / 2 - 80;
                root2.y = h / 2 - 80;

                update();

            });

            function update() {
                var nodes = flatten(root),
                    links = d3.layout.tree().links(nodes),
                    nodes2 = flatten(root2),
                    links2 = d3.layout.tree().links(nodes2);
                //console.log(root2, root2);
                // Restart the force layout.
                force
                    .nodes(nodes)
                    .links(links)
                    .start();

                // Update the links…
                link = vis.selectAll("line.link")
                    .data(links, function(d) {
                        return d.target.id;
                    });

                // Enter any new links.
                link.enter().insert("svg:line", ".node")
                    .attr("class", "link")
                    .attr("x1", function(d) {
                        return d.source.x;
                    })
                    .attr("y1", function(d) {
                        return d.source.y;
                    })
                    .attr("x2", function(d) {
                        return d.target.x;
                    })
                    .attr("y2", function(d) {
                        return d.target.y;
                    });

                // Exit any old links.
                link.exit().remove();

                // Update the nodes…
                node = vis.selectAll("circle.node")
                    .data(nodes, function(d) {
                        return d.id;
                    })
                    .style("fill", color);

                node.transition()
                    .attr("r", function(d) {
                        return d.children ? 4.5 : Math.sqrt(d.size) / 10;
                    });

                // Enter any new nodes.
                node.enter().append("svg:circle")
                    .attr("class", "node")
                    .attr("cx", function(d) {
                        return d.x;
                    })
                    .attr("cy", function(d) {
                        return d.y;
                    })
                    .attr("r", function(d) {
                        return d.children ? 4.5 : Math.sqrt(d.size) / 10;
                    })
                    .style("fill", color)
                    .on("click", click)
                    .call(force.drag);

                // Exit any old nodes.
                node.exit().remove();
            }

            function tick() {
                link.attr("x1", function(d) {
                        return d.source.x;
                    })
                    .attr("y1", function(d) {
                        return d.source.y;
                    })
                    .attr("x2", function(d) {
                        return d.target.x;
                    })
                    .attr("y2", function(d) {
                        return d.target.y;
                    });

                node.attr("cx", function(d) {
                        return d.x;
                    })
                    .attr("cy", function(d) {
                        return d.y;
                    });
            }

            // Color leaf nodes orange, and packages white or blue.
            function color(d) {
                return d._children ? "#3182bd" : d.children ? "#c6dbef" : "#fd8d3c";
            }

            // Toggle children on click.
            function click(d) {
                if (d.children) {
                    d._children = d.children;
                    d.children = null;
                } else {
                    d.children = d._children;
                    d._children = null;
                }
                update();
            }

            // Returns a list of all nodes under the root.
            function flatten(root) {
                    var nodes = [],
                        i = 0;

                    function recurse(node) {
                        if (node.children) node.size = node.children.reduce(function(p, v) {
                            return p + recurse(v);
                        }, 0);
                        if (!node.id) node.id = ++i;
                        nodes.push(node);
                        return node.size;
                    }

                    root.size = recurse(root);
                    return nodes;

                }
                //console.log(d3_obj, $scope.d3count)
        }).
        error(function(data, status, headers, config) {
            console.log(data, status, headers, config)
            alert("Page is unavailable. Please try reloading. If the problem persists please email: leigh765@me.com")
                // called asynchronously if an error occurs
                // or server returns response with an error status.
        });



    }]);
    app.controller('inputdemo', ['$scope', function($scope) {

    }]);
    app.directive('barChart', function() {
        
        return {
            restrict: 'E',
            replace: true,
            template: '<div id="chart"></div>',
            require: "ngModel",
            scope: true,
            controller: function($scope, $attrs) {
                
                function isGreaterthan(element) {
                   
                        return element >= 5;
                 
                        
                }
                $scope.$watch($attrs.datacount, function(values) {
                    console.log(values);
                    var filtered = values.filter(isGreaterthan)
                    d3.select('#chart')
                        .append("div").attr("class", "chart")
                        .selectAll('div')
                        .data(filtered).enter()
                        .append("div").attr("class", "bluebar")
                        .transition().ease("elastic")
                        .duration(5000)
                        .style("width", function(d) {
                            return d + "%";
                        })
                        .text(function(d) {
                            return d + "%";
                        });


                }, true)


            },
            link: function(scope, ngModel){

                scope.$watch(scope.levels, function() {
                    console.log(scope.levels,"link");
                }, true)
            }

        };
    });
    app.directive('progressBar', function(){
      function link(scope, el, attr){
        el = el[0]
        var width = 500
        var height = 20
        var svg = d3.select(el).append('svg')
          .attr({width: width, height: height})
          .style('border', '1px solid black');

        // the inner progress bar `<rect>`
        var rect = svg.append('rect').style('fill', 'blue');

        scope.$watch('progress', function(progress){
          rect.attr({x: 0, y: 0, width: width * progress / 100, height: height });
        })
      }
      return {
        link: link,
        restrict: 'E',
        scope: { progress: '=' }
      };
    });


 </script>

